$fontFamily: 'Source Sans Pro';
$bigTitle: 28px;
$fontSizePriceTag: 24px;
$middleTitle: 20px;
$middleFontSize: 16px;
$formFontSize: 12px;
$littleFontSize: 10px;
$blackColor: #3f3f3f;
$darkColor: #49485e;
$greyColor: #B4B4B4;
$formBackground: #FFFEFB;
$formButtonBackground: #EEEEEE;
$whiteColor: #ffffff;
$backgroundColor: rgba(255, 254, 251, 0.8);
$greenColor: #7BAE73;
$pinkColor: #FF8484;
$bolderFontWeight: 600;
$normalFontWeight: 400;
$bigLineHeight: 35px;
$priceTagLineHeight: 30px;
$middleLineHeight: 25px;
$normalLineHeight: 20px;
$littleLineHeight: 13px;
$boxShadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
$inputShadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
$borderRadius: 4px;
$buttonRadius: 10px;
